---
import Layout from "../layouts/Layout.astro";
import { Hero } from "../components/Hero.jsx";
import { Navbar } from "../components/Navbar.jsx";
import { About } from "../components/About.jsx";
import { Testimonials } from "../components/Testimonials.jsx";
import { Services } from "../components/Services.jsx";
import { Pricing } from "../components/Pricing.jsx";
import { FAQ } from "../components/FAQ.jsx";

import { Divider } from "../components/Divider";
import { Footer } from "../components/Footer.jsx";
import { ScrollUpButton } from "../components/ScrollUpButton";
import "../styles/Theme.css";
import "../styles/Diagonals.css";
---

<Layout title="U Fancy Contact">
  <Navbar client:load />

  <p class="pt-20">
    this will have a contact form with a captcha to avoid spam
  </p>

  <Footer />
  <ScrollUpButton client:load />
</Layout>
